{% extends "base.html"%}

{%block title%}ALXBlog{%endblock%}

{% block content %}
<div class="header-bar">
    <h1>ALX STORIES</h1>
</div>

<div id="read-story-section">
    <img src="/static/images/user-male.png" width="170px" height="170px" 
    alt="user-male" style="margin-left: 23px;">

    <div id="read-individual-stories">
        <p id="exp-text-p-read">ALX has hugely contributed to my journey as a Data <br>
            Scientist. I have learnt relevant skills in the world of <br>
            Data Science and have gained better knowledge in <br>
            presenting myself as a Professional. </p> 
            
            <hr style="color: blanchedalmond; width: 350px; height: 2px; 
            padding: 0px; margin: 0px;">

        <div style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
            <p id="info-read-stories-name">Tunde Onikoyi</p> nbsp 
            
            <p id="info-read-stories-track">Data Science</p> nbsp 
            
            <p id="info-read-stories-status">Learner</p>
        </div>
    </div>
</div>\

<a href="/alxstoriesread" id="text-black-center-underline-3"><p>Read More Stories</p></a>
{% endblock %}